apiVersion: v1
kind: ConfigMap
metadata:
  name: techfood-api-config
  namespace: techfood
  labels:
    app.kubernetes.io/name: techfood-api
    app.kubernetes.io/component: config
    app.kubernetes.io/part-of: techfood-system
data:
  ASPNETCORE_ENVIRONMENT: "Development"
  ASPNETCORE_HTTP_PORTS: "8080"
  TechFoodStaticImagesUrl: "/static-images"
  AllowedHosts: "*"
  Jwt__Issuer: "techfood-jwts"
  Jwt__Audience: "techfood"
  Payments__MercadoPago__UserId: "2414323212"
