apiVersion: v1
kind: ConfigMap
metadata:
  name: techfood-shared-config
  namespace: techfood
  labels:
    app.kubernetes.io/name: techfood-shared-config
    app.kubernetes.io/component: config
    app.kubernetes.io/part-of: techfood-system
data:
  Services__Authentication: "http://localhost:45000/"
  Services__Order: "http://localhost:45001/"
  Services__Payment: "http://localhost:45002/"
  Services__Backoffice: "http://localhost:45004/"
  Services__Kitchen: "http://localhost:45005/"
  EventBus__RabbitMQ__HostName: "localhost"
  EventBus__RabbitMQ__Port: "5672"
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: techfood-order-config
  namespace: techfood
  labels:
    app.kubernetes.io/name: techfood-order-config
    app.kubernetes.io/component: config
    app.kubernetes.io/part-of: techfood-system
data:
  ASPNETCORE_ENVIRONMENT: "Development"
  ASPNETCORE_HTTP_PORTS: "8080"
  AllowedHosts: "*"
  Jwt__Issuer: "techfood-jwts"
  Jwt__Audience: "techfood"
  Authentication__ClientId: "order-service"
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: techfood-payment-config
  namespace: techfood
  labels:
    app.kubernetes.io/name: techfood-payment-config
    app.kubernetes.io/component: config
    app.kubernetes.io/part-of: techfood-system
data:
  ASPNETCORE_ENVIRONMENT: "Development"
  ASPNETCORE_HTTP_PORTS: "8080"
  AllowedHosts: "*"
  Jwt__Issuer: "techfood-jwts"
  Jwt__Audience: "techfood"
  Authentication__ClientId: "payment-service"
  Payments__MercadoPago__UserId: "2414323212"
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: techfood-backoffice-config
  namespace: techfood
  labels:
    app.kubernetes.io/name: techfood-backoffice-config
    app.kubernetes.io/component: config
    app.kubernetes.io/part-of: techfood-system
data:
  ASPNETCORE_ENVIRONMENT: "Development"
  ASPNETCORE_HTTP_PORTS: "8080"
  AllowedHosts: "*"
  Jwt__Issuer: "techfood-jwts"
  Jwt__Audience: "techfood"
  Authentication__ClientId: "backoffice-service"
  TechFoodStaticImagesUrl: "/static-images"
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: techfood-kitchen-config
  namespace: techfood
  labels:
    app.kubernetes.io/name: techfood-kitchen-config
    app.kubernetes.io/component: config
    app.kubernetes.io/part-of: techfood-system
data:
  ASPNETCORE_ENVIRONMENT: "Development"
  ASPNETCORE_HTTP_PORTS: "8080"
  AllowedHosts: "*"
  Jwt__Issuer: "techfood-jwts"
  Jwt__Audience: "techfood"
  Authentication__ClientId: "kitchen-service"
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: custom-headers
  namespace: techfood
  labels:
    app.kubernetes.io/name: custom-headers
    app.kubernetes.io/component: configmap
    app.kubernetes.io/part-of: techfood-system
data:
  Host: "$host"
  X-Real-IP: "$remote_addr"
  X-Forwarded-For: "$proxy_add_x_forwarded_for"
  X-Forwarded-Proto: "$scheme"
  X-Forwarded-Host: "$host:$server_port"
  X-Original-URI: "$request_uri"
  X-Request-ID: "$req_id"
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: nginx-configuration
  namespace: ingress-nginx
  labels:
    app.kubernetes.io/name: ingress-nginx
    app.kubernetes.io/part-of: ingress-nginx
data:
  proxy-set-headers: "techfood/custom-headers"
  use-forwarded-headers: "true"
  compute-full-forwarded-for: "true"
  use-proxy-protocol: "false"

  proxy-connect-timeout: "30"
  proxy-send-timeout: "30"
  proxy-read-timeout: "30"
  proxy-body-size: "10m"

  http-snippet: |
    map $http_x_forwarded_prefix $prefix {
        default "";
        "~^/api" "/api";
    }

  location-snippet: |
    proxy_set_header X-Forwarded-Prefix $prefix;
---
